.header {
    width: 100%;
    min-width: var(--min-width);
    box-sizing: border-box;
    margin-bottom: var(--def-margin);
}

.header__profile-navbar {
    display: flex;
    align-items: end;
    height: 50px;
    padding-left: var(--def-padding);
    padding-right: var(--def-padding);
    font-size: 16pt;
    font-weight: bold;
    background-color: #000;
    box-shadow: 0 4px 3px #1c7fcf52;
}

.header__profile-navbar p {
    margin: 0;
    padding: 8px 0;
}

.header__title {
    font-size: 14pt;
}

.header__profile {
    width: calc(100% - 32px);
    margin: 0 auto;
    border-left: 1px solid #4dacf58c;
    border-right: 1px solid #4dacf58c;
    border-bottom: 1px solid #4dacf58c;
    border-radius: 0 0 16px 16px;
    padding: var(--def-padding) 8px 8px;
    box-shadow: 1px 4px 2px #1483df52;
    box-sizing: border-box;
}

.header__title,
.header__profile-cover {
    margin: 0 auto;
    text-align: center;
}
.header__profile-cover {
    width: 200px;
    height: 250px;
    margin-top: var(--def-padding);
    border-radius: 50%;
    background-image: url("https://avatars.githubusercontent.com/u/48868937?v=4");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
